<!DOCTYPE html>
<html>

  <head>

    <title>Modify PP JSON</title>
    
    <style>
      html,body{
        width: 100%;
        height: 100%;
      }
      form,textarea{
        width: 100%;
        height: 90%;
        font-size: 14px;
      }
      input[type=submit]{
        height: 100em;
        width: 20em;
      }
    </style>

  </head>

  <body>

    <form action="https://tranquil-scrubland-10230.herokuapp.com//update" method = "POST">
      <textarea name="json" id ="textarea"> {{ jsonpp }} </textarea>
      <br>
      <input type="submit">
    </form>
    
  </body>

  <button> Test</button>
</html>