<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <title>Modify PP JSON</title>
  </head>

  <body>
    {% block content %}
    <div class="container">
      {% for message in get_flashed_messages() %}
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
      </div>
      {% end for}
    </div>
    {% endblock %}
    <div class="ui raised segment container">
      <div class="ui large red ribbon label"> Payment Page Config</div>
      <hr>
      <form action="https://hyperwidget-ppconfig.herokuapp.com/update" method = "POST" class ="ui form">
        <label class="ui lable">Edit ppConfig JSON here</label>
        <hr>
        <textarea name="json" id ="textarea" rows="35"> {{ jsonpp }} </textarea>
        <hr>
        <button class="ui left floated teal button" type="submit"> Submit</button>
      </form>
    </div>
  </body>

</html>